<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!--
    <h1>##nombre##  heroku</h1>
    <form action="" method="post">
        <label for="">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="">
        <input type="submit" value="Enviar">
    </form>
    <span>##err##</span>
-->
    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">New User</h2>
                    <form class="login-form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="usuario" class="text-uppercase">Username</label>
                            <input required type="text" name="username" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="nombre" class="text-uppercase">Nombre</label>
                            <input required type="text" name="nombre" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                            <input required type="password" name="password" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="file" class="text-uppercase">Imagen</label>
                            <input  type="file" name="file" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <button id="btnlogin" type="submit" class="btn btn-primary btn-lg btn-block">New
                                User</button>
                        </div>

                        <div class="form-group">
                            <label for="">{{err}}</label>    
                        </div>
                    </form>

                    <label for="">Si ya tienes usuario, </label><a href="/">Login</a>
                    <div class="copy-text">Created with <i class="fa fa-heart"></i> by tfermoso</div>
                </div>
                <div class="col-md-8 banner-sec d-none d-sm-none d-md-block">
                </div>
            </div>
        </div>
    </section>
</body>

</html>